body {
    background-image: url("https://lh7-us.googleusercontent.com/wgkzSKZahinRIQpaJdp5eSSHdVx9NRV6_QK5pquSWnEYfeD64pUxCCpmlPVJp0tBtqCPIXfIXI-pil75SA1n_Qt_H2AFS_6Xlc3mCFYEKj_kD-hoFSWuE1_mYW7QwAK7ZsKxhfb-55jX0sI6hmzmGRY");
    background-size: 100% auto;
}

.connector {
    margin: auto;
    height: 50px;
    width: 30px;
    background-color: black;
    box-shadow: 3px 3px 2px 1px rgb(40, 40, 40);
}

.traffic-light {
    display: flex;
    margin: auto;
    height: 525px;
    width: 175px;
    background-color: black;
    border-radius: 25px;
    box-shadow: 6px 6px 5px 3px rgb(40, 40, 40);
}

.lights {
    margin: auto;
    height: 500px;
    width: 150px;
    justify-items: center;
}

.light-red {
    margin: 12.5px 0px;
    height: 150px;
    width: 150px;
    background-color: red !important;
    border-radius: 50%;
}

.light-yellow {
    margin: 12.5px 0px;
    height: 150px;
    width: 150px;
    background-color: yellow !important;
    border-radius: 50%;
}

.light-green {
    margin: 12.5px 0px;
    height: 150px;
    width: 150px;
    background-color: green !important;
    border-radius: 50%;
}

.light {
    margin: 12.5px 0px;
    height: 150px;
    width: 150px;
    background-color: grey;
    border-radius: 50%;
}

.glow {
    box-shadow: 0px 0px 10px 7px white;
}